#### Otimização Plano de Produção:
##### Restrições:
###### Demanda
Um empresa, fabricante de bicicletas deseja planejar a produção de 10 dos seus principais produtos (SKU), $SKU_{001}, SKU_{002}, ..., SKU_{010}$ em um horizonte de 4 meses, de janeiro a dezembro.

Dentro da demanda mensal existem pedidos feitos por uma grande rede varejista que deve ser preferencialmente atendida, sob risco de prejudicar o relacionamento com o cliente. Esse varejista exige que o pedido seja atendido em sua totalidade, caso contrário cancela o pedido total. Ou seja, se o total de bicicletas solicitado foi 30, ou entrega-se as 30 ou o pedido inteiro é cancelado.

**Base de Demanda e Pedidos de Varejistas**
- Arquivo: `demand.csv`
- Colunas: `sku`: Código do Produto | `month`: Mês | `demand`: Demanda no mês (# bicicletas) | `retail`: Pedido firme da rede varejista

###### Disponibilidade de Matéria Prima
Por se tratar de uma pequena fábrica, a disponibilidade de matéria prima não é uma restrição, embora seu custo esteja embutido no custo do produto.

**Base custo variável e Preço de venda**
- Arquivo: `costs_revenues.csv`
- Colunas: `sku`: Código do Produto | `month`: Mês | `cost_unit`: Custo por unidade produzida (Mão de obra mais MP) | `price`: Preço de venda do produto acabado

###### Linha de produção
Algumas linhas de produção podem produzir mais de um tipo de bicicleta, enquado outras são monoproduto. Cada linha de produção incorre em um custo fixo cada vez que é acionada (devido a manutenção e custo de partida dos motores), independente da quantidade produzida.

**Possibilidades de produção e custo fixo**
- Arquivo: `production_arcs.csv`
- Colunas: `machine`: Linha de produção | `sku`: Código do Produto | `eficiency`: Tempo de produção de uma unidade unid/min
------------------
- Arquivo: `activation_cost.csv`
- Colunas:  `machine`: Linha de produção | `activation_cost`: Custo de Ativação da linha |

**Capacidade produtiva**
- Arquivo: `production_capacity.csv`
- Colunas: `machine`: Linha de produção | `capacity`: Capacidade mensal da máquina (contando horas de manutenção e etc), em h / mês

###### Subprodutos
O processo produtivo gera alguns subprodutos que podem ser vendidos (por Kg) para empresas de reciclagem, doados para cooperativas ou descartados, sendo que o custo de transporte e a capacidade de processamento são diferentes em cada caso (Não leva-se em consideração o impacto social das decisões).

**Geração de subprodutos**
- Arquivo: `by_products.csv`
- Colunas: `machine`: Linha de produção | `sku`: Código do Produto | `by_product`: Kg gerados por unidade produzida

**Capacidade de escoamento de subprodutos**
- Arquivo: `by_products_capacity.csv`
- Colunas: `customer`: Cooperativa, reciclagem ou lixo  | `capacity`: Demanda | `price`: Preço pago (somente a empresa de reciclagem paga algo pelo material) R\$/KG | `cost`: Caso o produto tenha que ser jogado fora, existe um custo de transporte R\$/Kg.

###### Capacidade de estoque
A fabrica possui um estoque próprio, que pode não ser suficiente absorver todo sua produção. No entanto é possível alugar espaço em um galpão ao lado da fábrica. Existe um acordo entre o dono do galpão e a fábrica de bicicletas onde é pago um custo fixo por unidade estocada (Como as bicicletas têm tamanho semelhante, a questão de volume se torna irrelevante). Como os prédios estão muito próximos, o custo de transporte é irrelevante.

**Capacidade de estoque**
- Arquivo: `storage_capacity.csv`
- Colunas: `unit`: Unidade de armazenagem  | `capacity`: Capacidade em unidade de bicicletas | `price`: Custo de estocagem por unidade R$ / Unid


##### Função Objetivo:
Deseja-se obter o maior retorno antes de impostos possível (em R$), evitando ao máximo o atrito com as grandes redes varejistas.

##### Pede-se:
1. Como você classificaria esse modelo do ponto de vista das variáveis envolvidas, tipo de função objetivo e retrições.

2. Qual a sua abordagem para evitar atritos com as grandes redes varejistas? Do ponto de vista de modelagem matemática.

3. Faça a modelagem matemática do problema (De preferência em Markdown, mas não obrigatpriamente). Lembre-se de especificar os Conjuntos, Parâmetros, Variáveis de Decisão, Funcão Objetivo e Restrições). Importente: Queremos uma representação algébrica do problema.

4. Utilizando preferencialmente (mas não obrigatoriamente, você é livre para abordar o problema da maneira que achar mais adequado), Pyomo ou Pulp (com o solver que desejar), resolva o problema e analise os resultados do ponto de vista de negócio, ou seja, quais restrições estão impedindo a empresa de ganhar mais dinheiro, quais produtos são mais rentáveis e o que mais você julgar relevante.

5. Analise os outputs do Solver: gap, interações do branch em bound, etc. Tente explicar o que cada output significa.


##### O que você pode fazer:
- Se o tempo de execução for muito longo, você pode limitar para 10 min, faça a análise do Gap. Talvez a solução já seja boa.
- Você também pode remover alguns SKUs, caso o solver e/ou máquina não dê conta de resolver a instância. Se decidir ir por esse caminho, não esqueça de altarar todos os arquivos de entrada
- Você também pode resolver o problema relaxado (obviamente não existe venda de 1/2 bicicleta). Nesse caso analise quais os impactos de se utilizar essa alternativa e se ela faz sentido ou não.
- Lembrando: O mais importante é a modelagem Matemática e a capacidade de implementar o modelo, por isso todas essas simplificações podem ser aplicadas (caso necessário), desde que devidamente justificadas.

##### Dados

Todos os arquivos de input estão na pasta `./data`.

`pd.read_csv('./data/{}'.format(file_), sep=';', decimal=',', encoding='utf-8')`

# 1 Leitura de instância - carregamento dos dados do problema

In [3]:
#importar a biblioteca pandas
import pandas as pd

In [4]:
#ler dados e colocar eles em um pandas dataframe
demand_dataframe = pd.read_csv('./data/demand.csv'.format('csv'), sep=';', decimal=',', encoding='utf-8')

#exibir as 5 primeiras linhas para saber se deu certo
demand_dataframe.head(5)

   sku  month  demand  retail
0    1      1     285      86
1    1      2     192      58
2    1      3     209      63
3    1      4     292      88
4    2      1     185      56

In [5]:
storage_capacity = pd.read_csv('./data/storage_capacity.csv'.format('csv'), sep=';', decimal=',', encoding='utf-8')
storage_capacity.head(5)

       unit  capacity  price
0  Frabrica       800      0
1    Galpao      2000      2

In [6]:
activation_cost = pd.read_csv('./data/activation_cost.csv'.format('csv'), sep=';', decimal=',', encoding='utf-8')
activation_cost.head(5)

   machine  activation_cost
0        1            20000
1        2            15000
2        3            25000
3        4            13000
4        5            20000

In [7]:
by_products = pd.read_csv('./data/by_products.csv'.format('csv'), sep=';', decimal=',', encoding='utf-8')
by_products.head(5)

   machine  sku  by_product
0        1    1      0.1634
1        1    2      0.3056
2        1   10      0.0234
3        2    3      0.0089
4        2    4      0.0034

In [8]:
by_products_capacity = pd.read_csv('./data/by_products_capacity.csv'.format('csv'), sep=';', decimal=',', encoding='utf-8')
by_products_capacity.head(5)

      customer   capacity  price  cost
0  Cooperativa       1200    0.0   0.0
1   Reciclagem       9000    1.2   0.0
2     Descarte  999999999    0.0   0.8

In [9]:
cost_revenues = pd.read_csv('./data/cost_revenues.csv'.format('csv'), sep=';', decimal=',', encoding='utf-8')
cost_revenues.head(5)

   sku  month  cost_unit   price
0    1      1         79  136.72
1    1      2         75  161.63
2    1      3         75  131.27
3    1      4         78  142.70
4    2      1         85  206.69

In [10]:
production_arcs = pd.read_csv('./data/production_arcs.csv'.format('csv'), sep=';', decimal=',', encoding='utf-8')
production_arcs.head(5)

   machine  sku  eficiency
0        1    1       0.32
1        1    2       0.85
2        1   10       0.25
3        2    3       0.26
4        2    4       0.74

In [11]:
production_capacity = pd.read_csv('./data/production_capacity.csv'.format('csv'), sep=';', decimal=',', encoding='utf-8')
production_capacity.head(5)

   machine  capacity
0        1       180
1        2       130
2        3       200
3        4       130
4        5       190

# Modelo

## Dados do problema

$d_{ijt}$ : demanda do produto $i$ no pedido $j$ no mês $t$

$c_{it}$ : custo do produto $i$ no mês $t$

$p_{it}$ : preço de venda do produto $i$ no mês $t$

$e_{ki}$ : Eficiência da máquina $k$ para produzir o item $i$ em minutos

$cap_{kt}$ : capacidade de produção da máquina $k$ no período $t$ em horas


## Variáveis de decisão

$x_{ikt}$ : quantidade de produtos do tipo $i$ produzidos pela máquina $k$ no período $t$]

$y_{j}$ : se o pedido é atendido (1) ou não (0)

$w_{kt}$ : se a máquina $k$ é usada no período $t$

## Restrições

$\sum_{i \in I} y_j d_{ijt} = \sum_{i \in I} x_{it}, \forall i, t$

$\sum_{i \in I} x_{it} \geq y_j, \forall j, t$

$\sum_{i \in F_k} x_{ikt} \leq 60 \cdot cap_{kt}, \forall k, t$ 


$\max \sum_{i \in I} \sum_{t \in T} (p_{it} - c_{it}) $

In [96]:
#from pyomo.environ import (
#    ConcreteModel, Var, PositiveReals, Objective, Constraint, maximize,
#    SolverFactory
#)

import pyomo.environ as pyo
import numpy as np

class PEDIDO:
    def __init__(self, produto, periodo, retail):
        self.produto = produto
        self.periodo = periodo
        self.retail = retail

In [94]:
def montarModeloLotSizing():
    PRODUTOS = demand_dataframe['sku'].unique()
    PERIODOS = demand_dataframe['month'].unique()
    MAQUINAS = production_arcs['machine'].unique()
    PEDIDOS_labels = demand_dataframe['retail'].unique()
    
    PEDIDOS = []
    for i in demand_dataframe:
        PEDIDOS.append(PEDIDO(i['sku'], i['month'], i['retail']))
    
    COSTS = cost_revenues.pivot('sku', 'month')['cost_unit']
    PRICES = cost_revenues.pivot('sku', 'month')['price']
    
    DEMANDAS = demand_dataframe.pivot('sku', 'month')['demand']
    DEMANDAS = demand_dataframe.pivot('sku', 'month')['demand']
    print(DEMANDAS)
    # Create the concrete model
    model = pyo.ConcreteModel()
    
    model.x = pyo.Var(PRODUTOS, MAQUINAS, PERIODOS, domain=pyo.NonNegativeIntegers)
    model.y = pyo.Var(PEDIDOS, domain=pyo.Binary)
    
    # objective
    income = sum( (PRICES[i][j] - COSTS[i][j]) * sum(model.x[i,k,j] for k in MAQUINAS) for (i,j) in zip(PRODUTOS,PERIODOS) )
   
    model.OBJ = pyo.Objective(expr = income, sense=maximize)
    
    model.restricao_demanda = pyo.ConstraintList()
    
    for j in PEDIDOS:
        restricao_demanda = sum(model.y[j.retail] * DEMANDAS[i][j.retail][j.periodo] for i in PRODUTOS) == sum(model.x[i,k,j] for (i,k) in zip(PRODUTOS,MAQUINAS))
        model.restricao_demanda.add(restricao_demanda)
    
    
    
    
    
    #model.pprint()
    
    return model

def main():

    model = montarModeloLotSizing()
    solver = pyo.SolverFactory('cplex')
    results = solver.solve(model)
    print(results)
    

    
if __name__ == "__main__":
    main()

ValueError: Index contains duplicate entries, cannot reshape

# 2

# 3

# 4

# 5